@import '../abstracts/index';

.button {
  display: inline-flex;

  @include fontSize(16);
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  border-radius: calculateRem(4);
  border: none;
  padding: calculateRem(10) calculateRem(20);
  margin-top: calculateRem(10);
  margin-bottom: calculateRem(10);
  margin-right: calculateRem(10);

  transition: all 0.2s;
  cursor: pointer;

  & span {
    flex: auto;
    align-self: center;
    white-space: nowrap;
  }

  & a {
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }

  &--primary,
  &--secondary {
    .loader {
      margin-right: 0.5rem;
      height: calculateRem(10);
    }
  }

  &--primary {
    background-color: $clr-primary-300;
    color: $clr-neutral-100;

    box-shadow: 0 calculateRem(3) calculateRem(6) rgba($clr-neutral-600, 0.2);

    &:hover,
    &:active {
      background-color: $clr-primary-400;
      color: $clr-neutral-200;
    }

    &-disabled {
      &:hover,
      &:active {
        background-color: $clr-primary-300;
        color: $clr-neutral-100;
      }
    }
  }

  &--secondary {
    border: 1px solid $clr-primary-300;
    color: $clr-primary-300;
    font-size: calculateRem(14);
    background-color: $clr-neutral-100;

    &:hover,
    &:active {
      background-color: $clr-primary-300;
      color: $clr-neutral-100;
    }

    &-disabled {
      &:hover,
      :active {
        background-color: unset;
        color: $clr-primary-300;
      }
    }
  }

  &--danger {
    border: 1px solid $clr-error-400;
    color: $clr-error-400;
    font-size: calculateRem(14);
    background-color: $clr-neutral-100;

    &:hover,
    &:active {
      color: $clr-neutral-100;
      background-color: $clr-error-400;
    }

    &-disabled {
      &:hover,
      :active {
        background-color: unset;
        color: $clr-neutral-100;
      }
    }
  }

  &--outline {
    padding: calculateRem(9) calculateRem(24);
    background-color: $clr-neutral-100;
    border: calculateRem(1) solid $clr-primary-300;
    color: $clr-primary-300;

    &:hover {
      background-color: $clr-primary-300;
      color: $clr-neutral-100;
    }

    &:active {
      background-color: $clr-primary-300;
      color: $clr-neutral-100;
    }
  }

  &--light {
    border-radius: calculateRem(4);
    @include fontSize(14);
    background-color: $clr-neutral-275;
    color: $clr-info-300;
    padding: calculateRem(7) calculateRem(15);
    margin: calculateRem(0) calculateRem(0) calculateRem(0) calculateRem(15);
    &:hover {
      background-color: $clr-neutral-350;
    }
    i {
      padding-right: calculateRem(5);
    }
  }

  &--text {
    color: $clr-info-300;
    @include fontSize(14);
    padding: calculateRem(0) calculateRem(5);
    margin: 0;
    background-color: transparent;
  }

  &--block {
    width: 100%;
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--loading {
    text-align: left;
    cursor: progress;
  }

  &--icon {
    text-align: left;
  }
}
