@import '../abstracts/index';

.tag {
  background: $clr-primary-900;
  border: 1px solid $clr-link-border;
  border-radius: calculateRem(20);
  text-align: center;
  font-family: $ff-primary;
  font-size: calculateRem(12);
  letter-spacing: calculateRem(0.22);
  color: $clr-primary-300;
  padding: calculateRem(6) calculateRem(8);
  margin: calculateRem(2) calculateRem(5) calculateRem(2) 0;
  display: inline-block;

  &--secondary {
    background: #eaeaea;
    border-color: $clr-neutral-350;
    border-radius: calculateRem(4);
    color: $clr-neutral-600;
    font-size: calculateRem(14);
    letter-spacing: 0;
    margin-right: calculateRem(20);
  }

  &--pending {
    background: $clr-neutral-250;
    font-size: calculateRem(10);
    border-radius: calculateRem(50);
    border: 1px solid $clr-neutral-300;
    color: $clr-neutral-550;
    padding: 0 calculateRem(12);
    text-transform: capitalize;
    line-height: 2;
  }

  &--danger {
    background: $clr-error-25;
    border-radius: calculateRem(4);
    border: none;
    color: $clr-error-400;
    padding: calculateRem(8) calculateRem(8);
  }

  &--roles {
    background: $clr-neutral-100;
    border-radius: calculateRem(4);
    color: $clr-neutral-550;
    font-size: calculateRem(10);
    border-color: $clr-neutral-550;
    padding: calculateRem(2) calculateRem(6);
    cursor: not-allowed;
  }

  &--success {
    color: $clr-neutral-100;
    background-color: $clr-success-500;
    padding: calculateRem(5) calculateRem(20);
    text-transform: capitalize;
    margin-right: calculateRem(12);
  }
}

@include respond(mobile) {
  .tag {
    margin: calculateRem(2) calculateRem(8) calculateRem(2) 0;
  }
}
