@import '../abstracts/index';

.time-picker {
  width: 100%;

  &__input {
    width: 100%;
  }
}

//Note: !important is used to over-ride the MUI styling

.MuiPaper-root {
  border-radius: 0 !important;
}
.MuiPickersCalendarHeader-labelContainer {
  font-size: calculateRem(18) !important;
}
.MuiPickersDay-root {
  font-size: calculateRem(14) !important;
}
.MuiPickersDay-root.Mui-selected {
  font-size: calculateRem(14) !important;
}
.MuiSvgIcon-root {
  font-size: calculateRem(25) !important;
  color: $clr-neutral-750;
}
.MuiInputLabel-root {
  font-size: calculateRem(15) !important;
}
.PrivatePickersYear-yearButton {
  font-size: calculateRem(14) !important;
}
.PrivatePickersMonth-root {
  font-size: calculateRem(15) !important;
}
.MuiInputBase-input {
  font-size: calculateRem(15) !important;
}
.MuiClock-clock {
  font-size: calculateRem(15) !important;
}
.MuiTypography-root {
  font-size: calculateRem(13) !important;
}
.Mui-error {
  font-size: calculateRem(13) !important;
}
