@import '../../scss/abstracts/index';
.breadcrumb {
  display: flex;
  font-size: calculateRem(16);
  color: $clr-neutral-600;
  cursor: pointer;
  margin-bottom: calculateRem(30);
  background-color: #f0f0f0;
  padding: 0.8rem;

  &__title {
    color: $clr-primary-300 !important;
  }

  &__inactive-title {
    color: $clr-neutral-500;
    cursor: default;
  }

  &__item {
    @include fontSize(12);
    display: flex;
  }

  &__arrow {
    padding: calculateRem(0) calculateRem(10);
  }
}

@include respond(mobile) {
  .breadcrumb {
    display: none;
  }
}
