@import '../scss/abstracts/index';
.overlay {
    display: none;
  
    &--open {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
  
      height: 100%;
      width: 100%;
      z-index: 1;
  
      overflow-x: hidden;
    }
  }
  

  //tooltip


.tooltip-container {
  position: relative;
  width: max-content;
}

.tooltip {
  visibility: hidden;
  width: max-content;
  background-color: $clr-neutral-100;
  color: $clr-neutral-700;
  text-align: center;
  padding: calculateRem(3) calculateRem(10);
  border-radius: calculateRem(2);
  position: absolute;
  z-index: 1;
  font-size: calculateRem(12);
  $tooltip-position-gap: calculateRem(7);

  &--top {
    box-shadow: calculateRem(0) calculateRem(3) calculateRem(5) calculateRem(0)
      $clr-border-100;
    bottom: calc(100% + #{$tooltip-position-gap});
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    &::after {
      transform: rotate(45deg);
      bottom: calculateRem(-5);
      left: 20%;
    }
  }
  &--bottom {
    box-shadow: calculateRem(0) calculateRem(-1) calculateRem(8) calculateRem(1)
      $clr-border-100;
    top: calc(100% + #{$tooltip-position-gap});
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    &::after {
      top: calculateRem(-5);
      left: 50%;
      transform: rotate(225deg);
    }
  }
  &--left {
    box-shadow: calculateRem(2) calculateRem(1) calculateRem(4) calculateRem(1)
      $clr-border-100;
    top: calculateRem(0);
    right: calc(100% + #{$tooltip-position-gap});
    &::after {
      bottom: 35%;
      right: calculateRem(-5);
      transform: rotate(-45deg);
    }
  }
  &--right {
    box-shadow: calculateRem(-2) calculateRem(1) calculateRem(5) calculateRem(1)
      $clr-border-100;
    top: calculateRem(0);
    left: calc(100% + #{$tooltip-position-gap});
    &::after {
      top: 35%;
      left: calculateRem(-5);
      transform: rotate(135deg);
    }
  }
}

.tooltip-container:hover .tooltip {
  visibility: visible;
}

.tooltip::after {
  content: '';
  position: absolute;
  height: calculateRem(10);
  width: calculateRem(10);
  background-color: $clr-neutral-100;
  box-shadow: calculateRem(2) calculateRem(2) calculateRem(2) calculateRem(-1)
    $clr-border-100;
}

//Loader

.loader{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;

  p{
      margin-top: 1rem
  }
}