@import '../../scss/abstracts/index';
.checkbox {
  &--disabled {
    pointer-events: none;
  }

  &__input {
    display: none;
  }

  &__label {
    height: calculateRem(24);
    width: calculateRem(24);

    display: flex;
    justify-content: center;
    align-items: center;

    color: $clr-text;
    background: $clr-neutral-100;
    border-radius: 1000rem;
    border: calculateRem(2) solid $clr-neutral-900;

    cursor: pointer;

    transition: all 0.2s;

    &--active {
      color: $clr-text-inverted;
      background: $clr-primary-300;
      border-color: $clr-primary-300;
    }
  }
}
